attrs==22.2.0
datasets==2.10.1
gnureadline==8.1.2
langchain==0.0.138
matplotlib==3.7.1
numpy==1.24.2
openai==0.27.2
pylint==2.17.2
pytest==7.4.0
pytest_cov==4.1.0
PyYAML==6.0
scikit-learn==1.2.2
tiktoken==0.3.3
torch==2.0.0
tqdm==4.65.0
transformers==4.27.3